html,
body {
    height: 100%;
    width: 100%;
}
#landing {
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.35)), url('img/balloon-3.jpg') no-repeat center;
    background-size: cover;
}
.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar {
    border-width: 0;
    font-size: 20px;
    background-color: lightgrey;
}

img {
    width: 100%;
}

.card-body {
    border-left: red solid 2px;
}

h1 {
    text-align: center;
}
#landing h1 {
    font-size: 40px;
}

#landing h2 {
    font-size: 20px;
}

#testimonials {
    background-color: black;
    width: 100%;
    color: white;
}

#testimonials-h1 {
    font-family: satisfy;
    font-size: 50px;
    color: lightblue;
}

.balloon {
    width: 10%;
    height: 10%;
    margin-left: 20px;
    position: absolute;
}

#home {
    font-family: permanent marker;
    margin: 20px;
    background-image: linear-gradient(to right, rgb(255, 193, 128), rgb(255, 153, 51));
}

@media(min-width:768px) {
    #landing h1 {
        font-size: 60px;
    }
    #landing h2 {
        font-size: 20px;
    }
    #info h1 {
        font-size: 36px;
    }
    #info p {
        font-size: 14px;
    }
}

@media(min-width:992px) {
    #landing h1 {
        font-size: 80px;
    }
    #landing h2 {
        font-size: 30px;
    }
    #info h1 {
        font-size: 46px;
    }
    #info p {
        font-size: 20px;
    }
}

@media(min-width:1200px) {
    #landing h1 {
        font-size: 100px;
    }
    #landing h2 {
        font-size: 40px;
    }
    #info h1 {
        font-size: 56px;
    }
    #info p {
        font-size: 26px;
    }
}
